*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
	background-color: #E0E0E0;
}
nav{
	background: #007bff;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
a label{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

 a:hover{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
.track{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}	
input{
	font-size: 15px;
	font-weight: bold;
	border: 3px solid #32e17c;
	height: 40px;
	width: 300px;
	border-radius: 50px;
	padding: 0 20px;	 
}
button{
	font-size: 15px;
	font-weight: bold;
	color: white;
	background: #32e17c;
/*	background: #32e17c;*/
	border: 3px solid #32e17c;
	height: 40px;
	width: auto;
	border-radius: 50px;
	padding: 0 20px;	
	margin: 0 auto;
}


#track-button{
    text-align:center;
}

@media(max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
	button{
		width: 300px;
		font-size: 18px;
		margin-top: 10px;
	}
}
@media(max-width: 952px){
	.checkbtn{
		display: block;

	}
	ul{
		position: fixed;
		width: 100%
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;

	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
		width: auto;
	}
	nav ul li a{
		font-size: 20px;
	/*	text-align: center;*/
	}
	a:hover{
		background: none;
		color: #0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
section{
	background: url(https://www.gannett-cdn.com/-mm-/9a34f53d72d82ec195f239ad6952a7308ddcca3a/c=0-135-2118-1332/local/-/media/2018/07/28/USATODAY/USATODAY/636683395229527947-GettyImages-496266816.jpg?width=2118&height=1197&fit=crop&format=pjpg&auto=webp) no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
}
.trackcontainer{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 240px auto;
	background: #000;
}
.trackcontainer .box{
	position: relative;
	width: calc(400px-30px);
	height: calc(400px-30px);
	background: #ff0;
	float: left;
	margin: 15px;

}


.jumbotron {
    padding-top: 3%;
    padding-bottom: 3%;
}

footer{
	background-color: #E0E0E0!important;
}

#track-result{
	background-clip: padding-box;
	overflow:hidden;
}